body {
    margin: 0;
    height: auto;
}
.nav {
    padding: 1px;
    text-align: center;
    background: #1abc9c;
    color: black;
    font-size: 15px;
}
.main {
    padding:1px;
    width: 100%;
    height: 500px;
    text-align: center;
    background-image: url("../img file/träning.png");
    color: black;
    font-size: 15px;
}
.column {
    float: left;
    width: 45%;
    padding: 10px;
    height: auto;
    flex-wrap: wrap;
}