.flex-container{
    background: white;
    border-radius: 10px;
    display: flex;
}
.flex-item{
    padding: 20px;
    background: white;
    border-radius: 10px;
    font-size: 20px;
    margin: 3px;
    height: auto;
    text-align: center;
    width: 50%;
}

.img {
    max-width: 250px;
    max-height: 250%;
}